/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* {
	margin: 0;
	padding: 0;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}
textarea {
	border: 0;
	
	overflow: hidden;
	resize: none;
}
table {
	border-collapse: collapse;
}
table td, table th {
	border: 1px solid black;
    padding: 2px 5px;
}
#header {
height: 15px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  /* background: #222; */
  text-align: center;
  color: #000;

  text-decoration: uppercase;
  letter-spacing: 14px;
  padding: 8px 0px;
}
.abn{ width:100%; }
.acn{ float:left; width:1005}
#address {
	width: 250px;
	height: 85px;
	float: left;
	  font-size: 12px;
	  line-height:16px;
	}
#customer {
	overflow: hidden;
}
#logo {
	text-align: left;
	padding: 0px 0px 0px;
	width: 371px;
	float: left;
}

#logohelp {
	text-align: left;
	display: none;
	font-style: italic;
	padding: 10px 5px;
}
#logohelp input {
	margin-bottom: 5px;
}
.edit #logohelp {
	display: block;
}
.edit #save-logo, .edit #cancel-logo {
	display: inline;
}
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo {
	display: none;
}
#customer-title {
	font-size: 20px;
	font-weight: bold;
	float: left;
}
#identity{ padding:15px 0px 0px 0px;}
#meta {
	margin-top: 1px;
	width: 300px;
	float: right;
}
#meta td {
	text-align: right;
}
#meta td.meta-head {
	text-align: left;
	background: #eee;
	    width: 100px;
}
#meta td textarea {
	width: 100%;
	height: 20px;
	text-align: left;
}
#items {
	clear: both;
	width: 100%;
	margin: 30px 0 0 0;
	border: 1px solid black;
}
#items th {
	background: #eee;
}
#items textarea {
	width: 80px;
	height: 20px;
}
.metadat{ width:180px;}
#items tr.item-row td {
	/*border: 0;*/
	vertical-align: top;
}
#items td.description {
	width: 300px;
}
#items td.item-name {
	width: 175px;
}
#items td.description textarea, #items td.item-name textarea {
	width: 100%;
}
#items td.total-line {
	border-right: 0;
	text-align: right;
}
#items td.total-value {
	border-left: 0;
	padding: 10px;
}
#items td.total-value textarea {
	height: 20px;
	background: none;
}
#items td.balance {
	background: #eee;
}
#items td.blank {
	border: 0;
}
#terms {
	text-align: center;
	margin: 20px 0 0 0;
}
#terms h5 {
	text-transform: uppercase;
	font: 13px Helvetica, Sans-Serif;
	letter-spacing: 10px;
	border-bottom: 1px solid black;
	padding: 0 0 8px 0;
	margin: 0 0 8px 0;
}
#terms textarea {
	width: 100%;
	text-align: center;
}
textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover {
	background-color:#EEFF88;
}
.delete-wpr {
	position: relative;
}
.delete {
background-repeat: no-repeat !important;
background:url(../../img/button-round-cancel-icon.png) !important;
cursor:pointer;

  	display: block;
	color: #000;
	text-decoration: none;
	position: relative;
	width:32px;
	height:32px;
	
	font-weight: bold;
	padding: 0px 3px;
	top: -6px;
	left: -22px;
	font-family: Verdana;
	font-size: 12px;
}
.delete-wpr td textarea{ background-color:#EEE;}
.item-row{ border-bottom:1px solid #333;}
.total-line{ border-right:1px solid #000 !important;}
.comp-add{  float: left;
    font-size: 12px;
    width: 26%;}

.bank{font-size: 14px;
  font-weight: bold;
  text-align: center; line-height:17px;}